*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //10px = 1rem
}
body {
  padding: 10rem 0;
}

audio {
  display: block;
}

h1 {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 12rem;
  font-size: 3rem;
  font-style: italic;
  text-transform: capitalize;
  text-shadow: 5px 2px 4px lightgray;
  animation: colorChange 1s linear 3s infinite;
}

.hrtbt {
  position: relative;
  height: 16rem;
  width: 10rem;
  margin: 0 auto;
  background: black;
  border-radius: 20rem 20rem 0 0;
  transform: rotate(45deg);
  animation: hrtBt1 1s linear 3s infinite;
}

.hrtbt::before {
  content: "";
  position: absolute;
  height: 10rem;
  width: 10rem;
  background: black;
  border-radius: 20rem 20rem 0 0;
  transform: rotate(-90deg);
  left: -5.5rem;
  top: 6rem;
  animation: hrtBt2 1s linear 3s infinite;
}

@keyframes hrtBt1 {
  0% {
    background: red;
  }
  100% {
    background: red;
    transform: scale(1.5, 1.5) rotate(45deg);
  }
}

@keyframes hrtBt2 {
  0% {
    background: red;
  }
  100% {
    background: red;
    transform: scale(1, 1) rotate(-90deg);
  }
}

@keyframes colorChange {
  0% {
    color: burlywood;
  }
  10% {
    color: aqua;
  }
  30% {
    color: blueviolet;
  }
  40% {
    color: olive;
  }
  50% {
    color: mediumspringgreen;
  }
  60% {
    color: mediumorchid;
  }
  70% {
    color: red;
  }
  80% {
    color: indianred;
  }
  90% {
    color: royalblue;
  }
  100% {
    color: chocolate;
  }
}
